# Bỏ qua file môi trường
.env

# Bỏ qua toàn bộ thư mục input và output
input/
output/
__pycache__/
dist/
build/
*.egg-info
.vscode/
.idea/
docs/
.venv
resources/client_secret.json
draft/
token.json
gifs/
Audio_Output/
hsk_ppt/tham khảo
hsk_ppt/images/generated/
resources/images/ppt/generated/